@page "/c_sellers"
@inject SellerBLL SellerBLL
@inject NotificationService message

<div class="card-header">
    <h2>Consulta de vendedores</h2>
    <div class='row'>
        <div class='col-md-3'>
            <label>Desde</label>
            <InputDate @bind-Value="InitialDate" class="form-control"></InputDate>
        </div>
        <div class='col-md-3'>
            <label>Hasta</label>
            <div class="finalDate">
                <InputDate @bind-Value="FinalDate" class="form-control"></InputDate>
                <button type="button" class="btn btn-outline-primary oi oi-reload" @onclick="ResetDate"></button>
            </div>
        </div>
    </div>
    <div class='row'>
        @* Filtro *@
        <div class='col-md-4'>
            <label>Filtro</label>
            <div class="filter-box">
                <InputSelect class="form-control" @bind-Value="option">
                    <option value=0>Sin filtro</option>
                    <option value=1>Vendedor Id</option>
                    <option value=2>Nombre</option>
                    <option value=3>Apellido</option>
                    <option value=4>Cédula</option>
                    <option value=5>Dirección</option>
                    <option value=6>Teléfono</option>
                    <option value=7>Productos vendidos</option>
                </InputSelect>
                <button type="button" class="btn btn-outline-primary oi oi-reload" @onclick="RestartFilter"></button>
            </div>
        </div>
        <div class='col-md-6'>
        @* Criterio *@
            @if(option == 7)
            {
                <div class='row'>
                    <div class='col-md-4'>
                        <label>Valor Mínimo</label>
                        <InputText @bind-Value="Min" class="form-control"></InputText>
                    </div>
                    <div class='col-md-4'>
                        <label>Valor Máximo</label>
                        <div id="c_search">
                            <InputText @bind-Value="Max" class="form-control"></InputText>
                            <button type="button" class="btn btn-info oi oi-magnifying-glass" @onclick="Filter"></button>
                        </div>
                    </div>
                </div>
                
            }
            else
            {
                <label>Criterio</label>
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <input id="c_search" type="text" class="form-control" @bind="criterion" disabled="@activeCriterion"/>
                        <button type="button" class="btn btn-info oi oi-magnifying-glass" @onclick="Filter"></button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="card-body">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Cédula</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Total vendidos</th>
                <th>Fecha de entrada</th>
            </tr>
        </thead>

        <tbody>
            @foreach(var seller in Results)
            {
                <tr>
                    <td>@seller.SellerId</td>
                    <td>@seller.Name</td>
                    <td>@seller.LastName</td>
                    <td>@seller.IdentificationNumber</td>
                    <td>@seller.Address</td>
                    <td>@seller.Telephone</td>
                    <td>@seller.TotalProductsSold</td>
                    <td>@seller.EntryDate.ToString("dd/MM/yyy")</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    public int option { get; set;}
    public List<Seller> Results { get; set; } = new List<Seller>();
    public bool activeCriterion {get {return option == 0;}}
    public string criterion {get; set;} = string.Empty;
    public DateTime InitialDate { get; set; }
    public DateTime FinalDate { get; set; }
    public string Min { get; set; } = string.Empty;
    public string Max { get; set; } = string.Empty;
    protected override void OnInitialized()
    {
        Results  = SellerBLL.GetList(item => true);
        InitialDate = GetOldestSeller().EntryDate;
        FinalDate = GetYoungestSeller().EntryDate;
    }
    private void Filter()
    {
        
        switch (option)
        {
            case 0:
            {
                NoFilter();
                SearchByDateRange();
                break;
            }               
            case 1:
            {
                SearchById();
                break;
            }
            case 2:
            {
                SearchByName();
                break;
            }
            case 3:
            {
                SearchByLastName();
                break;
            }
            case 4:
            {
                SearchByIdentificationNumber();
                break;
            }
            case 5:
            {
                SearchByAddres();
                break;
            }
            case 6:
            {
                SearchByTelephone();
                break;
            }
            case 7:
            {
                SearchByProductSold();
                break;
            }
        }
        if (!Results.Any())
            message.ShowNotification("Oops!","Parece que no se han encontrado resultados.", NotificationSeverity.Warning);
    }
    void SearchById()
    {
        int searchId = 0;
        if (int.TryParse(criterion, out searchId))
        {
            Results = SellerBLL.GetList(item => item.SellerId == searchId 
            && item.EntryDate >= InitialDate && item.EntryDate <= FinalDate);
        }
        else
        {
            message.ShowNotification("Valor inválido","El criterio de busqueda debe ser un entero. EJ: 1", NotificationSeverity.Error);
            return;
        }
    }
    void NoFilter()
    {
        Results = SellerBLL.GetList(item => true);
        criterion = string.Empty;
    }
    void SearchByDateRange()
    {
        if(Validate())
            Results = SellerBLL.GetList(item => item.EntryDate >= InitialDate && item.EntryDate <= FinalDate);
    }
    void SearchByName()
    {
        if(Validate())
        {
            Results = SellerBLL.GetList(item => item.Name.ToLower().Contains(criterion.ToLower())
            && item.EntryDate >= InitialDate && item.EntryDate <= FinalDate);
        }
    }
    void SearchByLastName()
    {
        if(Validate())
        {
            Results = SellerBLL.GetList(item => item.LastName.ToLower().Contains(criterion.ToLower())
            && item.EntryDate >= InitialDate && item.EntryDate <= FinalDate);
        }
    }
    void SearchByIdentificationNumber()
    {
        if(Validate())
        {
            Results = SellerBLL.GetList(item => item.IdentificationNumber.Contains(criterion)
            && item.EntryDate >= InitialDate && item.EntryDate <= FinalDate);
        }
    }
    void SearchByAddres()
    {
        if(Validate())
        {
            Results = SellerBLL.GetList(item => item.Address.ToLower().Contains(criterion.ToLower())
            && item.EntryDate >= InitialDate && item.EntryDate <= FinalDate);
        }
    }
    void SearchByTelephone()
    {
        if(Validate())
        {
            Results = SellerBLL.GetList(item => item.Telephone.Contains(criterion)
            && item.EntryDate >= InitialDate && item.EntryDate <= FinalDate);
        }
    }
    void SearchByProductSold()
    {
        float minValue = 0, maxValue = 0;
        if(!string.IsNullOrEmpty(Min) && string.IsNullOrEmpty(Max))
        {
            float.TryParse(Min, out minValue);
            Max = "0";
            float.TryParse(Max, out maxValue);
        }
        if(string.IsNullOrEmpty(Min) && !string.IsNullOrEmpty(Max))
        {
            float.TryParse(Max, out maxValue);
            Min = "0";
            float.TryParse(Min, out minValue);
        }
        if (float.TryParse(Min, out minValue) && float.TryParse(Max, out maxValue))
        {
            if(minValue >= 0 && maxValue == 0)
            {
                Results = SellerBLL.GetList(item => item.TotalProductsSold >= minValue && item.TotalProductsSold <= float.MaxValue
                && item.EntryDate >= InitialDate && item.EntryDate <= FinalDate);
            }
            else if(minValue <= 0 && maxValue >=0)
            {
                Results = SellerBLL.GetList(item => item.TotalProductsSold >= 0 && item.TotalProductsSold <= maxValue
                && item.EntryDate >= InitialDate && item.EntryDate <= FinalDate);
            }
            else
            {
                Results = SellerBLL.GetList(item => item.TotalProductsSold >= minValue && item.TotalProductsSold <= maxValue
                && item.EntryDate >= InitialDate && item.EntryDate <= FinalDate);
            }
        }
        else
        {
            message.Wrong("Se han proporcionado valores no numéricos para trabajar.");
        }
    }
    bool Validate()
    {
        if(InitialDate > FinalDate)
        {
            message.Wrong("La fehca inicial no puede ser mayor que la fecha límite.");
            return false;
        }
        if(string.IsNullOrEmpty(criterion) && option != 0)
        {
            message.Wrong("Debe colocar un criterio de búsqueda válido.");
            return false;
        }
        else
            return true;
    }
    void ResetDate()
    {
        if(!(InitialDate == GetOldestSeller().EntryDate && FinalDate == GetYoungestSeller().EntryDate))
        {
            InitialDate = GetOldestSeller().EntryDate;
            FinalDate = GetYoungestSeller().EntryDate;
            message.Info("Fecha restaurada", "Se han puesto los valores por defecto de la fecha.");
        }
    }
    Seller GetOldestSeller()
    {
        List<Seller> SellerList = SellerBLL.GetList(item => true);
        Seller oldestSeller = SellerList[0];
        if(SellerList != null)
        {
            foreach (var item in SellerList)
            {
                if(oldestSeller.EntryDate > item.EntryDate)
                {
                    oldestSeller = item;
                }
            }
        }
        return oldestSeller;
    }
    Seller GetYoungestSeller()
    {
        List<Seller> SellerList = SellerBLL.GetList(item => true);
        Seller youngestSeller = SellerList[0];
        if(SellerList != null)
        {
            foreach (var item in SellerList)
            {
                if(youngestSeller.EntryDate <= item.EntryDate)
                {
                    youngestSeller = item;
                }
            }
        }
        return youngestSeller;
    }
    void RestartFilter()
    {
        if(option != 0)
        {
            option = 0;
            Min = "0";
            Max = "0";
            Filter();
            message.Info("Filtro restablecido", "Se ha restablecido el filtro de búsqueda");
        }
    }
}